html {
    background-color: #152733;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding-top: 50px;
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    background: #f8f9fa;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin: 30px;
    width: 120px;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}